    <nav>
      <div class="top-bar">
        <div id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text" role="menuitem">warrenshea.github.io</li>
              <li>
                <a tabindex="0">Sandbox</a>
                <ul class="menu vertical">
                  <li><a href="javascript:;">JS coding style I</a></li>
                  <li><a href="javascript:;">JS coding style II</a></li>
                  <li><a href="javascript:;">Angular v1.5</a></li>
                </ul>                
              </li>
              <li>
                <a>Code Examples</a>
                <ul class="menu vertical">
                  <li><a href="examples/form-validation.html">Form Validation</a></li>
                  <li><a href="examples/sticky-navigation-flex-table.html">Sticky Navigation</a></li>
                  <li><a href="examples/carousel.html">Carousel</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>