html {
  font-family: "lato";
  font-size: 16px; }

body {
  background: #f8f8f8; }

h1, h2, h3, h4, h5, h6 {
  font-family: "play";
  font-style: italic; }

.top-bar {
  background: #1E88E5; }
  .top-bar ul.dropdown {
    background: #1E88E5;
    color: #FFF; }
    .top-bar ul.dropdown li.is-dropdown-submenu-parent > a {
      color: #FFF; }
      .top-bar ul.dropdown li.is-dropdown-submenu-parent > a:after {
        border-color: #FFF transparent transparent; }

h1 {
  text-shadow: 2px 2px 3px #DEDEDE; }
