//https://www.materialui.co/colors
$background: #eee; //grey 200
$font-color: #444; //black
$white: #fff; //white
$grey: #eee; //grey

$navigation-background: #5C6BC0; //indigo 400
$border-color: #DEDEDE; //grey

$text-shadow-color: #DEDEDE; //grey

$card-title-background-color: #0097A7; //teal 300
$card-code-backgroudn-color: #F5F5F5; //grey 100

$language-javascript-light: #e6c61d;
$language-javascript-dark: #e5a32b;

$language-html-light: #f1662b;
$language-html-dark: #e45028;

$language-css-light: #28a9e0;
$language-css-dark: #0873b9;

$language-angular-light: #e62a39;
$language-angular-dark: #b92933;

$language-react-light: #61dafb;
$language-react-dark: #222222;

$language-start: 0;
$language-mid: 93%;
$language-end: 100%;