$background: #efefef;

$primary-bmo-color: #0079c1;
$primary-dark-bmo-color: #00436c;

$light-border-color: #cacaca;
$border-divider: #cacaca;
$border-checkbox: #aaaaaa;

$light-font-color: #757575;
$dark-font-color: #333333;

$blue-dark-color: #00436c;
$compare-header-color: #f2f2f2;
$error-color: #d40c13;
$underline-color: #ed1c24;
$button-row-color: #E3EDF3;
$card-border-color: rgba(0,0,0,0.2);
$border-radius: 5px;
$primary-border: 1px solid $light-border-color;


$highlighted-cell-color: rgba(227,237,243,0.6);
$highlighted-cell-icon-tranperancy: rgba(255, 255, 255, 0.0);
$highlighted-cell-color-icon: linear-gradient(to bottom,  white 57%, $highlighted-cell-icon-tranperancy 57%);