@import "shared.colors";
@import "shared.mixins";
@import "shared.helper";

html {font-family:"lato";font-size:16px;color: $font-color;}
body {background: $background;}
h1,h2,h3,h4,h5,h6 {font-family:"play";font-style:italic;}

@include bp(medium-and-larger) {
  .top-bar {
    background: $navigation-background;
    ul.dropdown {
      background: $navigation-background;
      color: $white;
      li.is-dropdown-submenu-parent > a {
        color: $white;
        &:after{
          border-color: $white transparent transparent;
        }
      }
    }
  }
}

h1 {
  visibility:hidden;
  @include bp(medium-and-larger) {
    visibility:visible;
    font-weight:bold;
    text-shadow:2px 2px 3px $text-shadow-color;
    font-style:normal;
    margin:1rem 0 0;
  }
}