@import "_shared.colors.scss";
@import "_shared.mixins.scss";
@import "_shared.helper.scss";

html {font-family:"lato";font-size:16px;}
body {background:#f0f0f0;}
h1,h2,h3,h4,h5,h6 {font-family:"play";font-style:italic;}

.top-bar {
  background:#1E88E5;
  ul.dropdown {
    background:#1E88E5;
    color:#FFF;
    li.is-dropdown-submenu-parent > a {
      color:#FFF;
      &:after{
        border-color:#FFF transparent transparent;
      }
    }
  }
}

h1 {font-weight:bold;text-shadow:2px 2px 3px #DEDEDE;font-style:normal;margin:1rem 0 0;}
h2 {margin-top:2rem;}