
@import "_shared.mixins.scss";

.home {
  padding:0 1rem;
  .columns {
    margin:0 0 1rem;
    padding:0 0.5rem;
    .card {
      border:1px solid #dedede;
      background:#fff;
      position:relative;
      @include bp(medium-and-larger) {
        box-shadow:2px 2px 3px #dedede;
        display:flex;
        flex-direction:column;
      }
      .title {
        padding:0 1rem;
        background:#0097A7;
        color:#FFF;
        @include bp(medium-and-larger) {
          position:relative;
          height:5rem;
        }
        h3 {
          margin:0;
          padding:0.5rem 0;
          @include bp(medium-and-larger) {
            line-height:2rem;
            position:absolute;
            bottom:0;
          }
        }
      }
      .blurb {
        padding:0.5rem 1rem;
        @include bp(medium-and-larger) {
          padding:1rem;
        }
      }
      .code {
        margin:0;
        border-top:1px solid #dedede;
        background:#f9f9f9;
        padding:0.5rem 1rem;
        li {
          list-style:none;
        }
      }
    }
  }
}